<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="widgets.dinesh.com.paytmproject">

    <application
        android:name=".PaytmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".analysis.ui.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCZ6dajTaH1qGWIb7AdphCfC2LNlDvihY" />

        <activity android:name=".twitterList.ui.activities.TwitterListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".addEntity.ui.activities.AddTwitterEntityActivity"/>
        <activity android:name=".info.InfoActivity"
            android:theme="@style/NoActionBarTheme"/>
    </application>

</manifest>